@model PaginationVM<Category>
<main>


	<!-- breadcrumb-section - start
	================================================== -->
	<section id="breadcrumb-section" class="breadcrumb-section sec-ptb-100 text-center bg-default-black text-white clearfix">
		<div class="container">
			<h2 class="page-title mb-30" data-aos="fade-up" data-aos-delay="100">Company Profile</h2>
			<div class="breadcrumb-nev ul-li-center clearfix" data-aos="fade-up" data-aos-delay="300">
				<ul class="clearfix">
					<li><a href="index.html"><i class="fas fa-home mr-1"></i>Home</a></li>
					<li><i class="fas fa-chevron-circle-right mr-1"></i> About Us</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- breadcrumb-section - end
	================================================== -->
	<!-- service-section - start
	================================================== -->
	<!-- service-section - end
	================================================== -->
	<!-- partners-section - start
	================================================== -->
	<!-- partners-section - end
	================================================== -->
	<!-- about-section - start
	================================================== -->
	<section id="about-section" class="about-section sec-ptb-100 clearfix">
		<div class="container">

			<div class="about-list-layout clearfix">
				<div class="row align-items-center justify-content-lg-start justify-content-md-start justify-content-sm-center">
					<div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
						<div class="item-image" data-aos="fade-up" data-aos-delay="100">
							<img src="~/assets/images/about/img_5.jpg" alt="image_not_found">
						</div>
					</div>

					<div class="col-lg-5 col-md-6 col-sm-9 col-xs-12">
						<div class="item-content" data-aos="fade-up" data-aos-delay="300">
							<h3 class="item-title">
								We all exercise agency in the choices we make.
							</h3>
							<div class="about-service ul-li-block clearfix">
								<ul class="clearfix">
									<li data-aos="fade-up" data-aos-delay="100">
										<div class="service-icon">
											<img src="~/assets/images/@Model.Items." alt="image_not_found">
										</div>
										<div class="service-content">
											<h4 class="service-title">User Interaction Design</h4>
											<p class="mb-0">
												Your bones don't break, mine do. That's clear. Your cells react to helps bacteria and viruses.
											</p>
										</div>
									</li>

									<li data-aos="fade-up" data-aos-delay="200">
										<div class="service-icon">
											<img src="~/assets/images/icons/icon_10.png" alt="image_not_found">
										</div>
										<div class="service-content">
											<h4 class="service-title">Production Design</h4>
											<p class="mb-0">
												Your bones don't break, mine do. That's clear. Your cells react to helps bacteria and viruses.
											</p>
										</div>
									</li>

									<li data-aos="fade-up" data-aos-delay="300">
										<div class="service-icon">
											<img src="~/assets/images/icons/icon_11.png" alt="image_not_found">
										</div>
										<div class="service-content">
											<h4 class="service-title">Branding Design</h4>
											<p class="mb-0">
												Your bones don't break, mine do. That's clear. Your cells react to helps bacteria and viruses.
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- about-section - end
	================================================== -->
	<!-- testimonial-section - start
	================================================== -->
	<div id="testimonial-section" class="testimonial-section sec-ptb-100 text-center bg-light-gray clearfix">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div id="testimonial-carousel-1" class="testimonial-carousel-1 owl-carousel owl-theme">

				<div class="item testimonial-fullwidth">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
							<div class="person-image">
								<img src="~/assets/images/meta/img_1.jpg" alt="image_not_found">
							</div>
							<p class="mb-0">
								Imagination What we can easily see is only a small percentage of what is possible. Logistics through innovation & dedication.
							</p>
						</div>
					</div>
				</div>

				<div class="item testimonial-fullwidth">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
							<div class="person-image">
								<img src="~/assets/images/meta/img_2.jpg" alt="image_not_found">
							</div>
							<p class="mb-0">
								Imagination What we can easily see is only a small percentage of what is possible. Logistics through innovation & dedication.
							</p>
						</div>
					</div>
				</div>

				<div class="item testimonial-fullwidth">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
							<div class="person-image">
								<img src="~/assets/images/meta/img_1.jpg" alt="image_not_found">
							</div>
							<p class="mb-0">
								Imagination What we can easily see is only a small percentage of what is possible. Logistics through innovation & dedication.
							</p>
						</div>
					</div>
				</div>

				<div class="item testimonial-fullwidth">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
							<div class="person-image">
								<img src="~/assets/images/meta/img_2.jpg" alt="image_not_found">
							</div>
							<p class="mb-0">
								Imagination What we can easily see is only a small percentage of what is possible. Logistics through innovation & dedication.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- testimonial-section - end
	================================================== -->
	<!-- service-section - start
	================================================== -->
	<section class="service-section sec-ptb-100 bg-default-black text-white text-center clearfix">
		<div class="container-fluid">
			<div class="row mt--60">

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="service-default plr-70" data-aos="fade-up" data-aos-delay="100">
						<span class="item-icon">
							<img src="~/assets/images/icons/icon_3.png" alt="image_not_found">
						</span>
						<h3 class="item-title">Architecture Information</h3>
						<p class="mb-0">
							Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="service-default plr-70" data-aos="fade-up" data-aos-delay="300">
						<span class="item-icon">
							<img src="~/assets/images/icons/icon_4.png" alt="image_not_found">
						</span>
						<h3 class="item-title">Custom Managment System</h3>
						<p class="mb-0">
							Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="service-default plr-70" data-aos="fade-up" data-aos-delay="500">
						<span class="item-icon">
							<img src="~/assets/images/icons/icon_5.png" alt="image_not_found">
						</span>
						<h3 class="item-title">User Interaction Design</h3>
						<p class="mb-0">
							Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="service-default plr-70" data-aos="fade-up" data-aos-delay="700">
						<span class="item-icon">
							<img src="~/assets/images/icons/icon_6.png" alt="image_not_found">
						</span>
						<h3 class="item-title">Production Design</h3>
						<p class="mb-0">
							Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- service-section - end
	================================================== -->
	<!-- blog-section - start
	================================================== -->
	<section id="blog-section" class="blog-section sec-ptb-100 clearfix">
		<div class="container">

			<div class="section-title text-center mb-30" data-aos="fade-up" data-aos-delay="100">
				<h2 class="title-text mb-15">Our Journal</h2>
				<p class="mb-0">Popular cities around the country</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="blog-grid clearfix" data-aos="fade-up" data-aos-delay="300">
						<a href="#!" class="blog-image">
							<img src="~/assets/images/blogs/img_1.jpg" alt="image_not_found">
						</a>
						<h3 class="item-title">
							<a href="#!">
								Great things are not accomplished who yield
							</a>
						</h3>
						<div class="post-meta ul-li clearfix">
							<ul class="clearfix">
								<li>25 Feburary 2019</li>
								<li><a href="#!">Fatima Mohamed</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="blog-grid clearfix" data-aos="fade-up" data-aos-delay="500">
						<a href="#!" class="blog-image">
							<img src="~/assets/images/blogs/img_2.jpg" alt="image_not_found">
						</a>
						<h3 class="item-title">
							<a href="#!">
								Great things are not accomplished who yield
							</a>
						</h3>
						<div class="post-meta ul-li clearfix">
							<ul class="clearfix">
								<li>25 Feburary 2019</li>
								<li><a href="#!">Fatima Mohamed</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="blog-grid clearfix" data-aos="fade-up" data-aos-delay="700">
						<a href="#!" class="blog-image">
							<img src="~/assets/images/blogs/img_3.jpg" alt="image_not_found">
						</a>
						<h3 class="item-title">
							<a href="#!">
								Great things are not accomplished who yield
							</a>
						</h3>
						<div class="post-meta ul-li clearfix">
							<ul class="clearfix">
								<li>25 Feburary 2019</li>
								<li><a href="#!">Fatima Mohamed</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- blog-section - end
	================================================== -->


</main>