
@model ForgotPasswordVM

@{
    Layout = null;
}
<div class="form-container sign-in">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Email" placeholder="UserNameOrEmail">
        <span asp-validation-for="Email"></span>
        <button type="submit">Login</button>
    </form>
</div>

   