@using Wreade.Application.ViewModels.Users;
@using Wreade.Domain.Enums;
@model IdentityVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/account/style.css">
    <title>Modern Login Page</title>
 
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <h1>Create Account</h1>
             
                    <input asp-for="Register.Name" placeholder="Name">
                    <span asp-validation-for="Register.Name"></span>
               
                
                <input asp-for="Register.Surname" placeholder="Surname">
                <span asp-validation-for="Register.Surname"></span>
                <input asp-for="Register.UserName" placeholder="UserName">
                <span asp-validation-for="Register.UserName"></span>
                <input asp-for="Register.Email" placeholder="Email">
                <span asp-validation-for="Register.Email"></span>

                <input asp-for="Register.Password" for="Regsiter.Password"  placeholder="Password">
                <span asp-validation-for="Register.Password"></span>
                <input asp-for="Register.ConfirmPassword" placeholder="Confirm Password">
                <span asp-validation-for="Register.ConfirmPassword"></span>

                <div class="form-group local-forms">
                    <label asp-for="Register.Role">Role <span class="login-danger">*</span></label>
                    <select asp-for="Register.Role" class="form-control select">
                        <option disabled selected>Choose Role</option>
                        @foreach (var item in Enum.GetValues(typeof(UserRole)))
                        {
                            <option value="@item">@item</option>
                            <span asp-validation-for="Register.Role" class="text-danger"></span>
                        }
                    </select>
                </div>
                <button asp-action="register" asp-controller="appuser" type="submit">SignUp</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post" enctype="multipart/form-data"  asp-action="login">
                <div asp-validation-summary="ModelOnly"></div>
                <h1>Sign In</h1>
               
                <input asp-for="Login.UserNameOrEmail" placeholder="UserNameOrEmail">
                <span asp-validation-for="Login.UserNameOrEmail"></span>

                <input asp-for="Login.Password" id="passwordInput">
                <i class="fas fa-eye" id="showPassword"></i>
                <span asp-validation-for="Login.Password"></span>
               
                <button asp-action="login" asp-controller="appuser" type="submit">Login</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back !</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome, Friend!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                    <a asp-action="ForgotPassword">forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/account/script.js"></script>
</body>

</html>
<script>
    function showPassword() {
        var passwordInput = document.getElementById("passwordInput");
        passwordInput.type = "text";
    }

    function hidePassword() {
        var passwordInput = document.getElementById("passwordInput");
        passwordInput.type = "password";
    }

    const passwordInput = document.getElementById("passwordInput");
    const showPasswordButton = document.getElementById("showPassword");

    showPasswordButton.addEventListener("click", function () {
        if (passwordInput.type === "password") {
            showPassword();
            showPasswordButton.classList.remove("fa-eye");
            showPasswordButton.classList.add("fa-eye-slash");
        } else {
            hidePassword();
            showPasswordButton.classList.remove("fa-eye-slash");
            showPasswordButton.classList.add("fa-eye");
        }
    });
</script>
