@using Wreade.Application.ViewModels.Users;
@using Wreade.Domain.Enums;
@model IdentityVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/account/style.css">
    <title>Modern Login Page</title>
 
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <h1>Create Account</h1>
            
                <input asp-for="Register.Name" placeholder="Name">
                <span asp-validation-for="Register.Name"></span>
                <input asp-for="Register.Surname" placeholder="Surname">
                <span asp-validation-for="Register.Surname"></span>
                <input asp-for="Register.UserName" placeholder="UserName">
                <span asp-validation-for="Register.UserName"></span>
                <input asp-for="Register.Email" placeholder="Email">
                <span asp-validation-for="Register.Email"></span>

                <input asp-for="Register.Password" id="passsword" name="passsword" onmouseover="showPasssword()" onmouseout="hidePasssword()" placeholder="Password">
                <span asp-validation-for="Register.Password"></span>
                <input asp-for="Register.ConfirmPassword" id="password" name="password" onmouseover="showPassword()" onmouseout="hidePassword()" placeholder="Confirm Password">
                <span asp-validation-for="Register.ConfirmPassword"></span>
            <button type="submit">SignUp</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <h1>Sign In</h1>
               
                <input asp-for="Register.Email" placeholder="Email">
                <span asp-validation-for="Register.Email"></span>

                <input asp-for="Register.Password" id="passsword" name="passsword" onmouseover="showPasssword()" onmouseout="hidePasssword()" placeholder="Password">
                <span asp-validation-for="Register.Password"></span>
               
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back !</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome, Friend!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/account/script.js"></script>
</body>

</html>
