
@model ResetPasswordVM
@{
    Layout = null;
}
<div class="form-container sign-in">
    <form method="post" >
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="NewPassword" placeholder="NewPassword">
        <span asp-validation-for="NewPassword"></span>
        <input asp-for="ConfirmPassword" placeholder="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
        <button  type="submit">Submit</button>
    </form>
</div>
